/**CAFFEINE92 STYLESHEET*/

body{
    width:100%;
    padding:0;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}

.content_wrapper{
    position:relative;
    height:500px;
}
.caffeine92_wrapper{
    width:95%;
    padding:3em;
    position:relative;
}

nav{
    /*background-color:rgb(87, 147, 242);*/
    width: 100%;
    height:10em;
}

#caffeine92_logo{
    /*background-color:pink;*/
    width:120px;
    height:100px;
    float: left;
}

#caffeine92_logo img{
    width:90%;
}

.page_content{
    /*background-color:pink;*/
    width: 96%;
    margin:auto;
    padding-bottom:5em;
}

.h3_ab{
    position: absolute;
    margin:0;
    padding:0;
}

.menu_link{
    float: right;
    font-size: 1.17em;
    font-weight: 800;
    position: absolute;
    right: 0;
    margin-right: 3.5em;
}

.menu_link a{
    color: rgb(179, 118, 5);
}

.float_l li, .float_r li{
    display: inline;
    /*background-color: rgb(147, 229, 250);*/
    padding:0 1em;
}

.nav2{
    float:right;
}
.social_media{
    float:right;
    padding-right:3em;
}

.nav1, .footer_nav{
    float: left;
}

.nav1, .nav2{
    margin-top:3em;
    display: visible;
}
.dropdown{
    display:none;
}

#left_content{
    width: 45%;
    position: absolute;
    left:0;
    margin: 0 20px;
}

#right_content{
    width:49%;
    position:absolute;
    right:0;
    height:35em;
}

#h3_top{
    margin-bottom:7em;
}

#left_content_icons{
    text-align: center;
}

footer{
    width:100%;
    padding:.5em 1em .5em .5em;
    position: fixed;
    bottom:0;
    background-color:rgb(255, 210, 64);
    height:43px;
}

.social_media img{
    width:15px;
    color: gold;
}

.social_media img:hover{
    opacity:.7;
}

/**text style**/
a{
    text-decoration: none;
    color:black;
}

h1{
    font-size:3.5em;
    color: rgb(255, 210, 64);
    padding:0;
    margin:.5em 0 0 0;
}

.nav1 li a:hover, .nav2 li a:hover, .footer_nav li a:hover{
    border-bottom: 2px solid rgb(255, 217, 0);
    width:100%;
}

/*caffeine-drinks page*/
#coffee_drinks ul li{
    margin:2.5em 0;
}


#coffee_drinks,#coffee_drinks ul, #coffee_snacks ul li, #coffee_snacks ul{
    margin:1.5em 0;
    padding:0;
}

#coffee_drinks ul li{
    width: 31em;
    display:inline-block;
}

#coffee_drinks li, #coffee_snacks li{
    list-style:none;
}

#coffee_drinks img{
    width:15em;
    margin:1em 0;
}

.drink_info{
    width: 15em;
    display:inline-block;
    position: absolute;
    margin: 3.5em 0 1em 0;
    height:120px;
}

.drink_info h4, .drink_info p{
    margin:0;
}

.drink_info h4{
    font-size: 15px;
}

.drink_info p{
    font-size:11px;
}

.drink_description{
    height: 5em;
}

.price{
    margin-top: 3em;
    font-weight:bold;
}

/*caffeine-snacks page*/
#coffee_snacks ul li{
    width:22em;
    display:inline-block;
    border-left: 2px solid rgb(179, 118, 5);
    padding-left:.5em;
}

/*caffeined-members page*/
#right_content a:hover{
    color:rgb(179, 118, 5);
}


/**MENU POP**/

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(255,255,255,.7);
    cursor:pointer;
    display:none;
    height:100%;
    position:absolute;
    text-align:center;
    /*top:0;*/
    width:100%;
    z-index:10000;
    /*overflow:scroll;*/
    padding:6em 0;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 15px;
    display: inline-block;
    font-weight: bold;
}

.img_control img{
    width:100%
}
/* Popup box END */



/***************************************RESPONSIVE DESIGN******************************************/

/************************/
/****MOBILE(landscape)***/
/************************/
@media (min-width: 481px) and (max-width: 767px) {

}/*MOBILE(landscape) ENDS*/

/*************************/
/****MOBILE(portrait)****/
/*************************/
@media (min-width: 320px) and (max-width: 480px) {
    /*HOME*/

    .dropbtn {
        background-color: rgb(255, 210, 64);
        color: black;
        padding: 16px;
        font-size: 16px;
        border: none;
        /*cursor: pointer;*/
        width:100%;;
    }


    .dropdown-content {
        display: none;
        position: relative;
        background-color: rgba(255,255,255,.9);
        min-width: 150px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        bottom:100%;
        font-size:25px;
        text-align:center;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .show {display: block;}

    .dropdown{
        margin-bottom:300px;
        position: absolute;
        display: inline-block;
        width:100%;
    }

    .dropdown li{
        list-style-type: none;
    }

    .content_wrapper{
        height:600px;
    }
    .caffeine92_wrapper {
        width: 100%;
        padding: 0;
        margin:0;
    }

    .nav1, .nav2{
        display:none;
    }

    #caffeine92_logo{
        float:none;
        align-content: center;
        width:100%;
    }

    #caffeine92_logo img {
        margin: 5em 0 0 9em;
        width:40%;
    }

    #left_content {
        width: 94.5%;
        position: absolute;
        left: 0;
        padding:0;
        line-height: 3em;
        margin-top: 6em;
    }

    #left_content_icons img{
        width:80%;
    }

    #right_content {
        width: 90%;
        position: relative;
        height:auto;
        display:none;
    }

    footer{
        padding:0;
        height:100px;
        position:relative;
        text-align:center;
    }

    .social_media{
        float:left;
        width:100%;
        padding:0;
        margin:2em 0 0 0;
        
    }

    .social_media img{
        width:25px;
    }
}/****MOBILE(portrait) ENDS****/

/************************/
/*TABLET-IPAD(landscape)*/
/************************/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}/*TABLET-IPAD(landscape) ENDS*/

/***********************/
/*TABLET-IPAD(portrait)*/
/***********************/
@media (min-width: 768px) and (max-width: 1024px) {

}/*TABLET-IPAD(portrait) ENDS*/