/*PORTFOLIO - DYNAMIC - INDEX - MAIN CSS*/

html, body{
    font-family: 'Quicksand', sans-serif;
  }
  
  html, body, .content_wrapper, .fixed_items{
    height:100%;
  }
  p{font-size:12px;margin:0;}
  h1{font-size:50px;margin:1%;}
  h3{font-size:20px;}
  h4{font-size:15px;}
  a{color:black;text-decoration: none;}
  ul{list-style:none;margin:0;padding:0;}
  
   .content_wrapper{
       margin:auto;
       width:100%;
       position:relative;
   } 
  
   .clearfix {
      overflow: auto;
    }
  
  .op_overlay{
      opacity:0.7;
      height:100%;
  }



/**********************/
/********LOGO**********/
/**********************/
.jix_logo img{
    width:100%;
    padding-top: 10%;
  }

  img.hover-shadow.cursor {
    margin-top: 0;
  }
  
  /**********************/
  /*****SOCIAL MEDIA*****/
  /**********************/
  .social_media ul li img{
    padding:15% 0;
    width:40%;
  }
  
  .social_media ul li img:hover{
    filter:invert(70%);
  }
  
  /**********************/
  /*********NAV**********/
  /**********************/
  
  .fixed_items{
      height:150%;
      position:fixed;
      align-content: center;
      z-index:2;
      left:0;
      background-color: rgba(255,255,255,.2);
      width: 5%;
      text-align:center;
  }
      .jix_logo, .social_media, .copyright{
          padding:.5%;
      }
  
      .jix_logo{
        position: fixed;
        width: 4%;
      }
  
      .social_media{
          position: fixed;
          bottom:0;
          left:0;
          width:4%;
      }
  
      .social_media ul{
        margin:0;
        padding:0;
      }
  
      .social_media li{
        list-style:none;
        padding:30% 0;
      }
  
      .copyright{
          position: fixed;
          bottom:0;
          right:0;
          font-size:12px;
          font-weight: 700;
      }

      /*TRANSITION STARTS*/
      .fixed_items,.social_media { 
        -webkit-animation: slide 0.5s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 1.5s forwards;
        animation-delay: 0s;
        left: -100px;
    } 

    @-webkit-keyframes slide {
        100% { left: 0; }
    }
    
    @keyframes slide {
        100% { left: 0; }
    }
      /*TRANSITION STARTS*/
  /*NAME / PROFESSION*/
  #index_content{
    width: 90%;
    text-align: center;
    padding: 15% 1% 1% 1%;
    color: white;
    margin: 0 auto;
    position: relative;
}


  #profession h1{
    background: linear-gradient(to right, rgb(0, 200, 255) , yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #profession h3{
      padding:0;
      font-size:15px;
  }



/***************/
/*****INTRO*****/
/***************/

.project_container{
    width: 100%;
    height:auto;
    background-color: white;
    z-index: 1;
    position: absolute;
}

.intro{
    width:100%;
    height: auto;
    padding: 0 0 20% 0;
    margin: 0;
    font-size:2em;
    position:relative;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,.2)
}

.intro h2, .intro h3, .intro h4, .intro p{
    margin:0 8%;
    color:white;
}

.intro h2{
    padding-top:10%;
    background: linear-gradient(to right, rgb(0, 200, 255) , yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro h3{
    padding: 5% 0 1% 0;
}

.intro h4{
    padding:5% 0;
    font-size:15px;
}

.intro p{
    width:30%;
    line-height:2em;
    margin-top: .5em;
}

/***************/
/****BLOCK_1****/
/***************/

.block_1_large ul li, .sq_block img, .img_icon{
    transition: all .2s ease-in-out
}

.block_1_large ul li:hover, .sq_block img:hover, .img_icon:hover{
    transform: scale(1.05);
}

.sq_block{
    height:auto;
    background-size: cover;
}

.block_1{
    width:90%;
    height:auto;
    padding:5%;
    margin:0;
    position:relative;
}

.block_1 ul li{
    display: inline-block;
    width:17%;
    height:120px;
    margin:1.3%;
    background-color:white;
    overflow: hidden;
    position:relative;
    text-align:center;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.block_1 ul li:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}


/*STRIPED TITLE*/
.block_1_title_div{
    width:30%;
    position:relative;
    padding:0 1.5%;
    margin:2% 0;
    border: 1px solid rgb(204, 204, 204);
    text-align:center;
}

.white_text{
    color:white;
}

.bck_gradient{
    padding:1% 10%;
}

.block_1_title{
    font-size: 25px;
    font-weight: 700;
    /*text-align: center;*/
    width: 100%;
    /*margin: 0 auto;*/
    background: linear-gradient(to right, rgb(0, 200, 255) , yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*STRIPED TITLE ENDS*/


/*BLOCK_1_LARGE*/
.block_1_large{
    width:90%;
    height:auto;
    background-color:white;
    padding:0 5%;
    margin:auto 0;
    position:relative;
    align-content: center;
}

    /*IMAGE ICON*/
    .img_icon{
        width: 15%;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        margin:0 2%;
    }

    .img_icon_li{
        width: 100%!important;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        margin:0 2%;
    }

    .align_icon{
        display:contents;
    }
    /*IMAGE ICON ENDS*/


.block_1_large ul{
    text-align: center;
}

.block_1_large ul li{
    display: inline-block;
    width:30%;
    height:auto;
    margin:1.3%;
    position:relative;
    background-color:black;
    overflow: hidden;
    align-content: center;
    box-shadow: 2px 2px 2px black;
}
/*BLOCK_1_LARGE ENDS*/

/*BLOCK TEXT OVERLAY*/
.sq_block:hover{
    opacity:1;
    filter:contrast(110%);
}

.block_text{
    position: absolute;
    top: 40%;
    width: 100%;
}

.block_text p{
    font-size: 13px;
    background-color:rgba(255, 255, 255, .85);
    display: inline-block;
    padding: 5px 15px;
    color:black;
}
/*BLOCK TEXT OVERLAY ENDS*/


/***************/
/****PROCESS****/
/***************/
.process{
    width:100%;
    height:500px;
    padding:0;
    margin:0;
    position:relative;
}

/***************/
/****BLOCK_2****/
/***************/
.block_2{
    width:100%;
    height:200px;
    background-color:yellowgreen;
    padding:0;
    margin:0;
    position:relative;
}

/***************/
/****FEATURES***/
/***************/
.features{
    width:100%;
    height:500px;
    padding:0;
    margin:0;
    position:relative;
}

/***************/
/**PHOTOGRAPHY**/
/***************/
.portrait_img{
    width:60%!important;
}

.portrait_icon{
    margin-top:-20%;
}

/***************/
/*****FINAL*****/
/***************/
.final_project{
    width:100%;
    height:500px;
    background-color:yellowgreen;
    padding:0;
    margin:0;
    position:relative;
}

/***************/
/***ABOUT ME****/
/***************/
.block_content{
    position:relative;
    margin-bottom:5%;
    padding:2%;
}
.left_block{
    width:70%;
    height:auto;
    position: relative;
    float: left;
    overflow: hidden;
}

.left_block p{
    font-size:20px;
    padding-top:10%;
    line-height: 40px;
}

.left_block_min_height{
    height:220px;
}

.left_block_min_height img{
    width:100%;
    margin-top: 10px;
}

.right_block{
    width:25%;
    height:auto;
    display:inline-block;
    position:relative;
}

.right_block img{
    width:100%;
    float:right;
}

.right_block_text{
    padding:10px;
    line-height:20px;
    height:200px!important;
}

/***************/
/*UXUI Research*/
/***************/
.back_circle{
    border-radius: 50%;
    background: linear-gradient(to right, rgb(0, 200, 255) , rgb(255, 255, 177));
    width: 70px;
    height: 70px;
    margin: 17% 0 0 10%;
    position: absolute;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);;
    z-index: 1;
}

.back_circle:hover{
    background: linear-gradient(to right, rgb(0, 160, 204) , rgb(189, 189, 0));
}

.arrow {
    border: solid white;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 8px;
    margin: 33% 0 0 37%;
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

section{
    height:auto;
    overflow:hidden;
    padding:2% 0;
}

.first_section{
    padding-top:5%;
}

.section_block{
    height:auto;
    width:100%;
    /*background-color:skyblue;*/
    margin:0 auto;
    padding:1% 0;
    overflow:hidden;
}

.section_title{
    font-size:25px;
}

.border_span{
    border:2px solid black;
    width:90%;
    height:auto;
    position:relative;
    margin:auto;
    overflow: hidden;
    min-width:700px;
}

.section_des{
    position: relative;
    min-height: 120px;
    width: 100%;
}

.section_des_full{
    width: 99%;
    padding:1%;
    line-height: 25px;
}

.section_des_left{
    width: 68%;
    float: left;
    padding:1%;
    line-height: 25px;
    margin-top:20px;
}

.section_des_right{
    padding:1%;
    /*background-color:orange;*/
    width:28%;
    height:200px;
    float:right;
    position:relative;
    overflow:hidden;
    font-size:12px;
    line-height:20px;
}
.section_des_right img{
    width:100%;
    border-radius:5px;
    margin-top: -20px;
}

.section_des_left_split{
    width: 48%;
    float: left;
    line-height: 20px;
    font-size:12px;
}

.section_des_right_split{
    width:48%;
    float:right;
    position:relative;
    overflow:hidden;
    font-size:12px;
    line-height:20px;
}

.section_des_split{
    padding:2%;
}

.section_des_right_split img{
    width:50%;
    margin:0 25%;
}

.section_des_left_split li, .section_des_right_split li{
    font-size:16px;
}

.grey_block{
    background-color:rgb(248, 248, 248);
    padding:3% 0;
}

.block_1_link:hover{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 200, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-color:black;
}

.block_link{
    text-align: right;
    bottom: 0;
    position: absolute;
    width: 95%;
}

.block_1_link{
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, rgb(0, 200, 255) , rgb(204, 204, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.block_sec_1, .block_sec_2, .block_sec_3{
    width: 27%;
    float: left;
    margin: 1% 1.5%;
    padding: 1%;
}

.block_sec_1 img, .block_sec_2 img, .block_sec_3 img{
    width:100%;
    margin:25px 0;
}

.three_blocks_container{
    position:relative;
    width:100%;
    overflow: overlay;
}

.element_list{
    text-align: center;
    position: relative;
    float: left;
    width: 100%;
}

.element_list li{
    display:inline-block;
    padding:.5% 2%;
    margin:1%;
    background: linear-gradient(to right, rgb(0, 184, 235) , rgb(233, 233, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.element_list img{
    margin-top: 10px;
    width: 30%;
}

.responsive_design{
    width:100%;
    margin:auto;
}

/**PERSONAL**/
.persona_img img{
    width: 70%;
    border-radius: 100%;
    margin: 5% 0;
}

.persona_title{
    font-size:30px;
    font-weight:800;
}

.persona_img{
    width: 60%;
    margin: auto;
    text-align: center;
}

.persona_bio{
    width:100%;
    margin:auto;
    padding-top:10px;
}

.min_height_box{
    min-height:250px;
}

.persona_bio p{
    margin-bottom:20px;
    line-height:17px;
}

.persona_label{
    /*background-color: rgba(106, 170, 190,1); */
    padding: 1px 1px;
    margin-right: 5px;
    font-size: 18px;
    background: linear-gradient(to right, rgb(0, 184, 235) , rgb(233, 233, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bio_block{
    padding: 5px;
    border-radius: 5px;
    min-height: 200px;
}

/**PROTOTYPE SECTION**/
.prototype_icon{
    width:30%;
    webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    filter:invert(70%);
}

.prototype_icon:hover{
    cursor:pointer;
    color-adjust:exact;
    filter:invert(0%);
}

.wireframe_title{
    width:50%;
}

/*iFRAME BookMe*/
.section_des_left_split iframe{
    width:100%;
}

#portfolio-pdf iframe{
    height:750px;
}

#BookMe-pdf iframe{
    height:1050px;
}

#BookMe_workflow iframe{
    width:95%;
    height:800px;
    margin-top:15px;
}

