/*PORTFOLIO - DYNAMIC - MEDIA QUESRY CSS*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
.block_1 ul li {
    height: 175px;
}

  
}/*ABOVE DESKTOP ENDS*/

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .block_1 ul li {
    height: 140px;
}
  
}/*LAPTOPS, DESKTOP ENDS*/

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    /*FIXED*/
    .fixed_items{
      width:7%;
    }

    .jix_logo{
      width:6%;
    }

    .social_media{
      width:5.5%;
    }

    .social_media ul li img {
      padding: 35% 5%;
      width: 55%;
    }
  
    .nav_button{
      padding-right:2%;
      font-size:40px!important;
    }

  .intro h2, .intro h3, .intro p{
    margin: 0 12%;
  }

  .intro h2{
    padding-bottom:5%;
    font-size:60px;
  }
  .intro p{
    width:70%;
    font-size:15px;
  }
  .intro h3{
    font-size:30px
  }

  #profession h3{
    font-size:20px;
   }

  /*FIXED ITEMS END*/
  .block_1{
    padding: 5% 5% 5% 6%;
  }

  .block_1 ul li {
    width: 29%;
    height: 170px;
    margin: 1.5%;
  }

  .block_1_title{
    width:100%;
  }

  .block_text p{
    font-size:20px;
  }
  
  /*ABOUT ME*/
  .left_block p{
    font-size:15px;
    padding-top:5%;
  }

  .intro h4{
    padding-left:4%;
  }

  /*UXUI DESIGN - MAIN PAGE*/
  .left_block {
    width: 95%;
  }

  .right_block {
    width: 95%;
  }

  .right_block_text p{
    font-size:20px;
    line-height:30px;
  }
  /*UXUI DESIGN - MAIN PAGE - ENDS*/

  /*UXUI DESIGN - PROJECT*/
  .back_circle{
    margin: 15% 0 0 10%;
  }

  .section_des_right img{
    margin-top:20px;
  }

  .border_span{
    min-width: inherit;
    width:85%;
  }

  .section_des_right img {
    margin-top: 55px;
  }

  .element_list li {
    padding: .5% 1%;
    width:25%;
  }
  /*UXUI DESIGN - PROJECT - ENDS*/

/*TYPOGRAPHY*/
 img.hover-shadow.cursor {
    margin-top: -20px;
  }
  
}/*IPAD PORTRAIT ENDS*/

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  

  /*FIXED ITEMS*/
    .fixed_items {
      width: 6%;
    }

    .jix_logo{
      width:5%;
    }

    .social_media{
      width:5%;
    }
  
    .social_media ul li img {
      padding: 35% 0;
      width: 50%;
    }

    #profession h3{
     font-size:20px;
    }
    /*FIXED ITEMS ENDS*/
    .intro h2, .intro h3, .intro p, .work_link {
      margin: 0 8%;
    }
    .intro{
      padding:0 0 15% 0;
    }
    .intro p{
      width:60%;
      font-size:20px;
    }
  
    .intro h2 {
      padding: 10% 0 5% 0;
      font-size:70px;
    }

    .intro h3{
      font-size: 40px;
    }

    .block_1 ul li {
      width: 40%;
      height: 170px;
      margin: 1.5%;
    }
  
    .block_1_title {
      width: 100%;
    }
  
    /*UXUI DESIGN - PROJECT*/
    .back_circle{
      margin: 12% 0 0 10%;
    }

    .section_des_right img {
      margin-top: 25px;
    }

    .element_list li {
      padding: .5% 1%;
    }

a.about_me{
    padding-bottom: 30%;
}
    /*UXUI DESIGN - PROJECT - ENDS*/
}/*IPAD LANDSCAPE*/

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

      /*FIXED ITEMS*/
  
      .social_media{
        width:4%;
      }
    
      .social_media ul li img {
        padding: 25% 0;
        width: 55%;
      }
      /*FIXED ITEMS ENDS*/

  .intro{
    padding:0 0 15% 0;
  }
  .intro p{
    width:50%;
  }

  .intro h2 {
    padding: 10% 0 5% 0;
  }

   .block_1 ul li {
    width: 45%;
    height: 170px;
    margin: 2%;
  }

  .block_text {
    position: absolute;
    top: 35%;
    width: 100%;
}

  .block_1_title{
    width:100%;
  }

  .block_text p{
    font-size:20px;
  }

  .block_1_large ul li{
    width:45%
  }

  .about_me{
    margin-bottom:15%;
  }
  .mySlides{
    padding-bottom:10%;
  }
  
/*WEB DESIGN*/
.img_icon {
  width: 25%;
}

/*POP UP SLIDER*/


  /*ABOUT ME*/
.left_block {
  width: 100%;
  height: auto;
  position: relative;
  text-align:left;
}

.left_block p{
  font-size:15px;
}

.right_block{
  width:100%;
}


/*UXUI DESIGN - MAIN PAGE*/
.block_1_link{
  font-size:25px;
}

.right_block {
  width: 95%;
}

.right_block_text {
  height: 110px!important;
}

.block_content {
  margin-bottom: 0;
}
/*UXUI DESIGN - MAIN PAGE - ENDS*/

/*UXUI DESIGN - PROJECT*/
.back_circle{
  margin: 10% 0 0 10%;
}

.border_span{
  min-width: inherit;
}

.section_des_right img {
  margin-top: 30px;
}

.block_sec_1, .block_sec_2, .block_sec_3 {
  width: 95%;
}

.min_height_box {
  min-height: 0;
}

.section_des_left {
  width: 99%;
}

.section_des_right {
  float: left!important;
}

.section_des_right img {
  margin-top: 0;
}

.research_img {
  width: 100%;
}

.prototype_icon {
  width: 50%;
}

.block_sec_1, .block_sec_2, .block_sec_3 {
  width: 27%;
}

.element_list li{
  width:30%;
}

.bio_block li{
  font-size:10px;
}

.final_img{
  width:100%;
}

.final_img img{
  width:90%;
}

.block_1_title_div{
    padding: 1% 5%;
    border: 1px solid rgb(204, 204, 204);
    width: 88%;
    text-align: center;
}

/*TYPOGRAPHY*/
 img.hover-shadow.cursor {
    margin-top: -20px;
  }
  

/*UXUI DESIGN - PROJECT - ENDS*/
}/*Mobile LANDSCAPE DONE*/

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  h1{font-size:35px;}
  h2{font-size:30px;}
  h2{font-size:25px;}

    /*FIXED ITEMS*/
    .fixed_items{
      width:10%;
    }
    
    .jix_logo{
      width:9%;
    }
  
    .social_media{
      width:9%;
    }
  
    .social_media ul li img {
      padding: 40% 0;
      width: 50%;
    }
    /*FIXED ITEMS ENDS*/

    /*SECTION TITLE*/
    .block_1_title_div {
      width: 80%;
      padding: 1% 10%;
    }

    /*INDEX PROFESSION*/
    #index_content{
      width: 90%;
      text-align: center;
      padding: 30% 1% 1% 1%;
      color: white;
      margin: 0 auto;
      position: relative;
      min-height:300px
  }

  #name{
    font-size:20px;
  }

  #profession h1{
    font-size: 30px;
  }
  
  #profession h3{
    margin:0;
    font-size: 15px;
  }
  /*INDEX PROFESSION ENDS*/

  .intro h2, .intro h3, .intro p{
    margin-left: 13%;
  }
  
  .intro{
    height: auto;
  }

  .intro p{
    width:80%;
  }

  .intro h2 {
    padding-top:15%;
  }

  .block_1 ul{
    margin:0 auto;
    text-align: center;
  }

  .block_1 ul li {
    width: 80%;
    height:170px;
    margin:5% 10%;
  }
  .block_1_title{
    font-size:25px;
    width:100%;
  }

  .block_text p {
    font-size: 20px;
  }

  .block_1{
    margin:0 auto;
  }

  /*WEB DESIGN*/
  .block_1_large ul li {
    width: 80%;
    margin:5% 10%;
  }

  .img_icon {
    width: 40%;
  }

  /*POP UP SLIDER*/
  .mySlides{
    margin-bottom:300px;
  }

  /*NAVIGATION START*/
  span.nav_button {
    font-size: 40px!important;
  }

  .sidenav{
    background-color: rgba(255,255,255,0.9)
  }
  /*NAVIGATION ENDS*/


/*ABOUT ME*/

.block_content h1{
  padding-left:4%;
}
.left_block {
  width: 94%;
  height: auto;
  position: relative;
  text-align:left;
  margin-left: 5%;
}

.left_block p{
  font-size:15px;
  padding-top:1%;
}

.right_block{
  width:90%;
}

.intro h4{
  padding-left:5%;
}
/*ABOUT ME ENDS*/


/*UXUI DESIGN - MAIN PAGE*/
.right_block_text{
  padding:15px;
  height:120px!important;
}

.block_link{
  text-align:center;
  bottom:auto;
  margin-top: 20px;
}

.block_1_link {
  font-size: 30px;
}

.bck_gradient{
  padding:1% 20%;
}
/*UXUI DESIGN - MAIN PAGE - ENDS*/

/*UXUI DESIGN - PROJECT*/
.back_circle{
  margin: 5% 0 0 10%;
}

.border_span{
  min-width: inherit;
}

.first_section{
  padding-top:10%;
}

.section_des_left {
  width: 90%;
  margin-left: 5%;
}

.section_des_right img {
  margin-top: 0;
}

.section_des_right {
  width:100%;
  text-align: center;
  margin-top:20px;
}

.section_des_right img {
  width: 90%;
}

.block_1_title_div {
  padding: 1% 5%;
  border: 1px solid rgb(204, 204, 204);
  width: 85%;
  text-align: center;
}

.block_sec_1, .block_sec_2, .block_sec_3 {
  width: 87%;
  padding: 1% 1% 1% 5%;
}

.section_des_right img {
  margin-top: 0;
}

.element_list li {
  padding: .5% 3%;
}

.prototype_icon {
  width: 80%;
}

.section_des_full {
  width: 90%;
  padding: 1% 1% 1% 5%;
}

.section_des_full h3{
  font-size:25px;
}
/*UXUI DESIGN - PROJECT - ENDS*/



/*UXUI DESIGN - BOOKME*/
.section_des_left_split,.section_des_right_split {
  width: 95%;
  float:none;
  margin-left:15px;
}

/*TYPOGRAPHY*/
 img.hover-shadow.cursor {
    margin-top: -23px;
  }


/*UXUI DESIGN - MAIN PAGE*/
/*UXUI DESIGN - MAIN PAGE - ENDS*/
/*UXUI DESIGN - PROJECT*/
/*UXUI DESIGN - PROJECT - ENDS*/
} /*Mobile PORTRAIT ENDS*/