/**--PORTFOLIO PAGE - Black on White - CSS:DESKTOP-LAPTOP--**/

/*******/
/*LINKS*/
/*******/
body, html{
    height: 100%;
    margin: 0;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: rgb(0, 157, 248);
    text-decoration: none;
}

/* mouse over link */
a:hover{
    color: grey;
    text-decoration: none;
}

a:hover img{
    color: grey;
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
}

.socialmedia a:hover{
    opacity: .5;
  }
/*ABOUT ME - CONTACT ME*/
#contactme_des, #aboutme_des{
    display: none;
    width: 80%;
    /*background-color: pink;*/
    height: auto;
    z-index: 0;
    position: absolute;
    margin: 0 12.5% 0 7.5%;
    box-shadow: 1px 1px 10px 3px grey;
    top:9em;
}

#header_contact, #contactme_content, #aboutme_content, #close_contact, #close_about, #header_aboutme,#close_aboutme{
text-align: center;
background-color: rgba(255, 255, 255,.95);
}

#aboutme_content,#contactme_content{
    height:12em;
}

#header_contact, #close_contact, #close_about{
    width: 100%;
    padding: 1em 0;
    margin: 0;
    color: white;
    background-color:rgba(0, 0, 0, 0.85);
}


/****************/
/*DESKTOP-LAPTOP*/
/****************/
@media (min-width: 1025px){

.my_background{
    background-image: url('../images/redefinebackground.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*******/
/*GRID*/
/*******/
.wrapper_body{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#bodywrapper{
    padding:2.5em;
    height: auto;
}

.gridwrapper{
    width:100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.box{
    /*background-color:pink;
    border:solid 1px black;*/
    padding:10px 0;
}

.header_welcome{
    grid-row: 1;
    font-size:12px;
    font-weight: bold;
}

.header_pagename{
    grid-column: 5;
    grid-row: 1;
    font-size:10px;
    text-align: right;
}

.header_pagename img{
    width: 8%;
    height: auto;
}

.socialmedia img{
    width:1.5em;
    padding: .5em;
}
.gridwrapper_content{
    grid-row: 2;
    grid-template-columns: 20% 20% 20% 20% 20%;
    display: grid;
    margin-top: 10%;
}

.gridwrapper_info{
    display: grid;
    grid-column: 3/6;
}

.mylogo{
    grid-row: 1;
    grid-column: 1/3;
    text-align: right;
}

#logo_image img{
    width: 80%;
    height:auto;
    margin-right: 10px;
}

.mytitle{
    font-style: italic;
}

.myname{
    grid-column: 1/3;
    font-size: 3em;
    font-weight: bold;
}

.aboutme, .contact{
    padding: 15px 0;
    width: 13em;
    text-align: center;
    vertical-align: baseline;
}

.aboutme{
    background-color: white;
    color: black;
    border: solid 1.5px black;
}

.aboutme:hover{
    background-color:rgb(211, 211, 211);
}

.contact{
    grid-column: 2/3;
    margin-right: 15em;
    background-color: black;
    color: white;
    border: 1.5px solid black;
}

.contact:hover{
    background-color:rgb(211, 211, 211);
    color: black;
}

.nav{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 2% 0;
    margin: auto;
    text-align: center;
    font-size: 10px;
}

.nav li{
    display: inline;
    padding: 0 2em;
    margin: 25px;
    font-weight: bold;
}

#video, #logo, #type, #animate, #sound{
    border-bottom:solid 2px black;
}

button.dropbtn, button{
    display: none;
}

/**********************
*****PHOTOGRAPHY*******
**********************/

#photos{
    color: blue;
}
}/*@Media (min-width: 1281px)*/


