/**--PORTFOLIO PAGE - Black on White - CSS:DESKTOP-LAPTOP--**/

/*******/
/*LINKS*/
/*******/
body, html{
    height: 100%;
    margin: 0;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
    background-image: url(../images/redefinebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover{
    color: rgb(128, 128, 128);
    text-decoration: none;
}

a:hover img{
    color: rgb(128, 128, 128);
    text-decoration: none;
}

/* selected link */
a:active {
    color: black;
}

.socialmedia a:hover{
    opacity: .5;
  }
/*ABOUT ME - CONTACT ME*/
#contactme_des, #aboutme_des{
    display: none;
    width: 80%;
    /*background-color: pink;*/
    height: auto;
    z-index: 0;
    position: absolute;
    margin: 0 12.5% 0 7.5%;
    box-shadow: 1px 1px 10px 3px grey;
    top:10;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-10px; opacity:0} 
    to {top:13em; opacity:1}
}

@keyframes animatetop {
    from {top:-10px; opacity:0}
    to {top:13em; opacity:1}
}


#header_contact, #contactme_content, #aboutme_content, #close_contact, #close_about, #header_aboutme,#close_aboutme{
text-align: center;
background-color: rgba(255, 255, 255,.95);
}

#aboutme_content, #contactme_content {  
    line-height: 1.5em;
    font-size: 15px;
    height:10em;
    padding:2em;
}


#header_contact, #close_contact, #close_about{
    width: 100%;
    padding: 1em 0;
    margin: 0;
    color: white;
    background-color:rgba(0, 0, 0, 0.85);
}

#close_contact, #close_about{
    cursor: pointer;
}

/****************/
/****GALLERY*****/
/****************/
* {
    box-sizing: border-box;
  }
  
  .row > .column{
    padding:.4em;
  }
  
  .row:after{
    content: "";
    display: table;
    clear: both;
  }
  
  .row{
      overflow: scroll;
      /*height: 75%;*/
      overflow-x: auto;
  }
  .column {
    float: left;
  }

.page_title{
  text-align:center; 
  padding:1em; 
  font-weight: bold;
}

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,.7);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    /*background-color: #fefefe;*/
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    text-align:center;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-left:-50%;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    /*padding: 8px 12px;*/
    position: absolute;
    top: 0;
  }
  
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/**PROJECT PAGE*/
.project_container {
    text-align:center;
    overflow:scroll;
    overflow-x: auto;
    height: 100%;
}

#container{
    margin: auto;
    width: 1000px;
    height: auto;
    background-color:pink;
    padding:2em;
}

#car_icon{
  width: 120px;
  height: 120px;
  -webkit-transition: all .2s ease-in-out;; /* For Safari 3.1 to 6.0 */
  transition: all .2s ease-in-out;;
}

#car_icon:hover {
    transform: scale(1.2);
    cursor:pointer;
}

/* Popup box BEGIN */
#slide_1{
    height: 35em;
    overflow-x: auto;
    padding-bottom: 2em;
}

.hover_bkgr_fricc, .hover_bkgr_fricc_2{
    background:rgba(0,0,0,.4);
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
    left:0;
}
.hover_bkgr_fricc .helper,.hover_bkgr_fricc_2 .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.hover_bkgr_fricc > div, .hover_bkgr_fricc_2 > div{
    background-color: rgba(250, 250, 250, .9);
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 100%;
    min-height: 100px;
    vertical-align: middle;
    width: 90%;
    position: relative;
    border-radius: 3px;
}
#header_contact{
    width: 100%;
    padding: 1em 0;
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
}
.popupCloseButton {
    background-color: #000;
    color: #fff;
    border: 2px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    /* font-weight: bold; */
    position: absolute;
    top: .3em;
    right: -18px;
    font-size: 15px;
    line-height: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */

.car_ads{
    width:65%;
    padding:.5em;
    overflow: scroll;
}
/****************/
/*DESKTOP-LAPTOP*/
/****************/
@media (min-width: 1025px){
/*
.my_background{
    background-image: url('../images/redefinebackground.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

/*******/
/*GRID*/
/*******/
.wrapper_body{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
}

#bodywrapper{
    padding:1em;
    /*height: 95%;*/
}

.gridwrapper{
    width:100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.box{
    /*background-color:pink;
    border:solid 1px black;*/
    padding:10px 0;
}

.header_welcome{
    grid-row: 1;
    font-size:12px;
    font-weight: bold;
}

.header_pagename{
    grid-column: 5;
    grid-row: 1;
    font-size:10px;
    text-align: right;
}

.header_pagename img{
    width: 8%;
    height: auto;
}

.socialmedia img{
    width:2.5em;
    padding: .5em;
}
.gridwrapper_content{
    grid-row: 2;
    grid-template-columns: 20% 20% 20% 20% 20%;
    display: grid;
    margin-top: 10%;
}

.gridwrapper_info{
    display: grid;
    grid-column: 3/6;
}

.mylogo{
    grid-row: 1;
    grid-column: 1/3;
    text-align: right;
}

#logo_image img{
    width: 80%;
    height:auto;
    margin-right: 10px;
}

.mytitle{
    font-style: italic;
    font-size: 12px;
}

.myname{
    grid-column: 1/3;
    font-size: 3em;
    font-weight: bold;
}

.aboutme, .contact{
    padding: 15px 0;
    width: 13em;
    text-align: center;
    vertical-align: baseline;
}

.aboutme{
    background-color: white;
    color: black;
    border: solid 1.5px black;
}

.aboutme:hover{
    background-color:rgb(211, 211, 211);
}

.contact{
    grid-column: 2/3;
    margin-right: 15em;
    background-color: black;
    color: white;
    border: 1.5px solid black;
}

.contact:hover{
    background-color:rgb(211, 211, 211);
    color: black;
}

/******************/
/****NAVIGATION****/
/******************/

.float_center{
    float: right;
    position: relative;
    left: -40%;
    text-align: left;
}

.float_center > .child{
    position: relative;
    left: 50%;
}

.clear{
    clear: both;
}

#nav_container{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
}

.float_center ul{
    list-style-type: none;
    margin: 0;
    padding: .5em 0;
}

.child li{
    float: left;
    list-style-type: none;
    margin: 0 2.5em;
}

.child li a{
    display: block;
    height: 1em;
    line-height: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
}

.child li a:hover{
    color:rgb(133, 0, 18);
}
/*
.nav{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 2% 0;
    margin: auto;
    text-align: center;
    font-size: 10px;
    background-color:pink;
}

.nav li{
    display: inline;
    padding: 0 2em;
    margin: 25px;
    font-weight: bold;
    background-color:orange;
}
*/

/*REMOVED WHEN PAGE IS ESTABLISHED*/
/*#video, #animate, #sound{
    border-bottom:solid 2px black;
}*/

button.dropbtn, button{
    display: none;
}

.section_title{
    padding-bottom: 1em;
}
.description{
    padding-bottom:2em;
    font-size: 12px;
}
/**********************
*****PHOTOGRAPHY*******
**********************/

#photos{
    color: blue;
}

/*******GALLERY*******/
.column{
    width: 15%;
}

/**********************
*****COFFEINE92 LOGO*******
**********************/
#caffeine-logo,#MPC-logo{
    width:60%
}

}/*@Media (min-width: 1281px)*/


