/**--PORTFOLIO PAGE - Black on White - CSS:TABLET-IPAD-Landscape--**/
/*@Media 1024px-768px-landscape*/
/************************/
/*TABLET-IPAD(landscape)*/
/************************/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
/*******HEADER*******/
.socialmedia img {
    width: 2.5em;
}

/*******HOME*******/
.gridwrapper_content {
    margin-top: 5%;
}

#contactme_des, #aboutme_des{
    top: 5em;
}

#aboutme_content, #contactme_content {
    height: 10em;
    padding: .5em;
}
/*******GALLERY*******/
.column{
    width: 20%;
}

.row {
    overflow: scroll;
    height:70%;
}
/**PROJECT PAGE*/
#slide_1{
    overflow: scroll;
    height: 35em;
}
}/*@Media 1024px-768px-landscape*/